# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required

cache: packages

bioc_packages:
- biomaRt
- limma
- org.Hs.eg.db

r_check_args: --no-build-vignettes --no-vignettes

warnings_are_errors: false